/* Importamos el tipo de letra para todas las páginas */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3f;
    font-size: 20px;
}
p {
    line-height: 1.5em;
    padding: 20px;
}
a {
    text-decoration: none;
    color: #3f3f3f;
}
a:hover {
    color: brown; /* Color/es corporativos */
}
a.activo {
    color: red;
}
img {
    max-width: 100%;
}
.boton {
    color: white;
    font-size: 22px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: dodgerblue;
}
.naranja {background-color: rgb(255, 60, 0);}
.amarillo {background-color: rgb(236, 178, 16);}
.azul {background-color: dodgerblue;}
.naranja:hover {background-color: rgb(255, 81, 0);}
.amarillo:hover {background-color: rgb(255, 123, 0);}
.azul:hover {background-color: rgb(0, 60, 255);}
@keyframes intermitente {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.fila {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}
.primera {margin-top: 100px;}
.fondo {
    margin: 0;
    padding: 60px 40px;
    background-image: url('../img/ipad-605420_1920.jpg');
    background-position: center;
    background-size: cover; /* Ajusta la imagnen a lo alto, con "contain" a ancho */
    background-attachment: fixed; /* Deja la imagen fija según se mueve el navegador */

}
.col1 {
    padding: 10px;
    flex-basis: 300px; /* Ancho de referencia */
    flex-grow: 1;
}
.col2 {
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 2;
}
.col3 {
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 3;
}
.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie {
    display: flex;
    align-items: flex-end;
}
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eslogan {
    font-size: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.699);
}
.separador {
    display: none;
    border: solid 1px brown;
    width: 60%;
}

/* Cabecera-barra de navegación */
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 4px 4px grey;
}
header.blanco {
    box-shadow: initial;
}
.burger {
    font-size: 34px;
    display: none;
}
.blanco .burger {
    color: white;
}
.blanco .burger:hover {
    color: brown;
}
.logo {
    font-size: 60px;
    color:#3f3f3f;
}
.blanco .logo {
    color: white;
}
.blanco .logo:hover {
    color: brown;
}
header nav ul {
    list-style: none;
    display: flex;

}
header nav ul li {padding: 0 15px;}
header.blanco nav ul li a {color: white;}
header.blanco nav ul li a:hover {color: brown;}
header.blanco nav ul li a.activo {color: red;}

/* Hero */
.hero {
    height: 100vh;
    background-image: url('../img/web.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.hero h1 {
    color: white;
    font-size: 50px;
}
.hero h2 {
    color: white;
    margin-bottom: 60px;
}
.hero a {
    color: white;
    font-size: 40px;
    margin-bottom: 60px;
    animation-name: intermitente;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}

/* Formulario newsletter */
.miniform {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.miniform p {
    color: brown;
    font-size: 28px;
}
.miniform input {
    border: solid 2px brown;
    color: brown;
    font-size: 24px;
    padding: 10px;
}
input:focus {outline: none;}
.miniform .boton {
    border: solid 2px brown;
    background-color: brown;
    color: white;
    font-size: 24px;
    padding: 10px;
}

/* Footer */
footer {
    /* All credits to Lea Verou */
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
footer p {
    font-size: 18px;
    padding: 5px;
}
.top {
    height: 50px;
    width: 50px;
    background-color: #282828;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%); /* La mitad del ancho del propio elemento */
    font-size: 36px;
    color: white;
    border-radius: 30px; /* Más de la mitad de la altura y el ancho para hacerlo circular */
    display: flex;
    justify-content: center;
    align-items: center;
}
.izdo {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 15px; 
}
.centro {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer a {
    color: white;
    font-size: 18px;
    padding: 5px;
}
footer a:hover {
    color: brown;
}
footer a.activo {
    color: red;
}
.dcho {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.rrss a {
    color: white;
    font-size: 40px;
    padding: 5px;
}
.copy {
    width: 100%;
    padding: 5px;
}
.copy p {
    font-size: 14px;
    text-align: center;
}

/* Estilos para contacto */
.direccion {
    line-height: 2em;
}
.legales h1 {
    font-size: 26px;
}
.legales h2 {
    font-size: 18px;
    padding: 10px;
}
.legales p, .legales li {
    font-size: 16px;
    padding: 10px;
    line-height: 1.5em;
}
.legales ul {
    padding-left: 40px;
}

/* Media Queris */
@media (max-width: 920px) {
    .dcho {
        justify-content: center;
    }
}
@media (max-width: 720px) {
    .fila {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .separador {
        display: initial;
    }
    .columna {
        margin: 20px;
    }
}

@media (max-width: 640px) {
    .burger {
        display: initial;
    }
    nav {
        display: none;
    }
    .hero h1 {
        font-size: 36px;
        text-align: center;
        padding: 0 10px;
    }
    .hero h2 {
        font-size: 24px;
        text-align: center;
        padding: 0 10px;
    }
    .fondo{
        padding: 10px 20px 10px 20px;
    }
    .eslogan {
        font-size: 30px;
        margin: 0;
    }
    .miniform {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .fila {
        margin: 20px 10px 20px;
    }
    .fila.primera {
        margin: 100px 10px 20px;
    }
    .miniform input {
        font-size: 20px;
    }
    .miniform .boton {
        font-size: 20px;
    }
    .ultima {
        margin: 20px 0 40px 0;
    }
    .izdo {
        margin-top: 20px;
        text-align: center;
    }
}